<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>Show!</h1>
    <h2>Name: <%= animal.name %></h2>
    <h2>Age: <%= animal.age %></h2>
    <a href="/">Home</a>
    <a href="/edit/<%= animal.id %>">Edit</a>
  </body>
</html>
